/*
/* !----------------------------------------------------------
/* LEVIDIO MOCKUP - Sales Page
/* Aug, 27 2018
/* Huda - RootPixel
/* !----------------------------------------------------------

/* License Info
License {
	product 		: "Levidio Mockup";
	template-name 	: "Sales Page";
	author 			: "Rootpixel";
	website 		: "http://rootpixel.net";
	contact 		: "support@rootpixel.net";
	social 			: "http://facebook.com/rootpixel";
}
*/

@import 'template/variables';
@import 'template/functions';
@import 'template/mixins';
@import 'template/extends';
@import 'template/keyframes';
@import 'template/elements';
@import 'template/components';
@import 'template/typography';
@import 'template/sections';

// Plugin
@import 'plugin/youtube-popup'