
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 transparentize(color('orange'), .2);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px transparentize(color('orange'), 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 transparentize(color('orange'), 1);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 transparentize(color('orange'),.2);
        box-shadow: 0 0 0 0 transparentize(color('orange'),.2);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px transparentize(color('orange'), 1);
        box-shadow: 0 0 0 30px transparentize(color('orange'), 1);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 transparentize(color('orange'), 1);
        box-shadow: 0 0 0 0 transparentize(color('orange'), 1);
    }
}

@keyframes zooms{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom-2{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4, 1.4);
    }
    100% {
        transform: scale(1);
    }
}